<ng-container>
   <header>
      <button mat-icon-button (click)="isNavBarOpen = true">
         <mat-icon>menu</mat-icon>
      </button>
      <h1 (click)="navigateTo([''])">{{ text }}</h1>
   </header>
   <p-sidebar class="side-bar" [(visible)]="isNavBarOpen" [style]="{ backgroundColor: '#4C516D' }">
      <mat-action-list>
         <button [class.active]="isRouteActive('/')" class="list-btn" mat-list-item (click)="navigateTo([''])">Home</button>
         <button
            [class.active]="isRouteActive('/charts/create')"
            class="list-btn"
            mat-list-item
            (click)="navigateTo(['charts', 'create'])"
         >
            New Chart
         </button>
         <button
            [class.active]="isRouteActive('/charts/saved')"
            class="list-btn"
            mat-list-item
            (click)="navigateTo(['charts', 'saved'])"
         >
            Saved Charts
         </button>
      </mat-action-list>
   </p-sidebar>
</ng-container>
