<div>
   <mat-form-field class="key-chip-list" appearance="fill">
      <mat-label>{{ label }}</mat-label>
      <mat-chip-list #matChipList>
         <mat-chip
            *ngFor="let key of chipList; let keyIdx = index"
            [selectable]="false"
            [removable]="true"
            (removed)="removeKey(keyIdx)"
            (click)="enableChipEditing(keyIdx)"
         >
            {{ key }}
            <mat-icon matChipRemove>cancel</mat-icon>
         </mat-chip>
         <input
            #chipValueInputField
            class="chip-value-input-field"
            name="chipValueInput"
            autocomplete="off"
            matAutosize="true"
            [matChipInputFor]="matChipList"
            [matChipInputSeparatorKeyCodes]="chipKeyCodes"
            (matChipInputTokenEnd)="addNewKey()"
            [(ngModel)]="inputField"
         />
      </mat-chip-list>
   </mat-form-field>
   <span class="btn-controls">
      <button *ngIf="includeBtn" type="button" mat-raised-button color="primary" (click)="addNewKey(chipValueInputField)">Add</button>
      <button type="button" mat-raised-button color="primary" (click)="chipClearFieldEvent.emit()">Clear</button>
   </span>
</div>
