<div class="main">
   <div class="container">
      <mat-card class="card" [routerLink]="['charts', 'create']">
         <mat-card-title> Create a Chart </mat-card-title>
         <mat-card-content class="card-content">
            <mat-icon class="icon"> bar_chart </mat-icon>
         </mat-card-content>
      </mat-card>
      <a class="external-link" href="https://github.com/AntoRin/chart-gen" target="_blank">
         <mat-card class="card">
            <mat-card-title> GitHub </mat-card-title>
            <mat-card-content class="card-content">
               <mat-icon class="icon"> code </mat-icon>
            </mat-card-content>
         </mat-card>
      </a>
   </div>
</div>
