<div class="main">
   <div class="card">
      <p-card styleClass="p-card-shadow" [style]="{ backgroundColor: 'rgb(0, 0, 0, 0.4)', color: '#fff' }">
         <ng-template pTemplate="header">
            <img alt="Card" src="/assets/ChartGen.png" />
         </ng-template>
         <div class="card-body">
            <h1>Create charts with multiple datasets</h1>
         </div>
         <ng-template pTemplate="footer">
            <div class="card-footer">
               <p-button label="Create a new chart" icon="pi pi-chart-bar" [routerLink]="['charts', 'create']"></p-button>
               <p-button
                  label="Edit previous chart"
                  icon="pi pi-pencil"
                  styleClass="p-button-secondary"
                  [style]="{ 'margin-left': '.5em' }"
                  *ngIf="5 > 6"
               ></p-button>
            </div>
         </ng-template>
      </p-card>
   </div>
</div>
