.dataset-tabs {
   display: flex;
   font-size: 1.1rem;
   min-height: 60px;
   align-items: flex-end;
   background-color: #222;
   position: relative;
}

.tab-color-fill {
   background-color: #444;
   height: 5px;
   width: 100%;
   position: absolute;
   bottom: 0;
}

.dataset-tab-item {
   cursor: pointer;
   margin: 0 0 5px 0;
   height: 40px;
   display: flex;
   align-items: center;
   border-right: 1px solid #fafafa;
   border-radius: 2px;
   background: transparent;
   color: white;
   padding: 5px;
}

.dataset-tab-item-active {
   background-color: #444;
}

.chart-control-container {
   background-color: rgb(66, 66, 109);
   font-size: 1.2rem;
   color: aliceblue;
   box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.504);
   margin-bottom: 20px;
   display: grid;
   grid-template-columns: 1fr 4fr;
   min-height: 80vh;
   max-height: fit-content;
   overflow-x: hidden;
}

.tab-nav {
   border-right: 1px solid #fff;
   box-shadow: 25px 0 25px rgba(0, 0, 0, 0.175);
   background-color: rgb(55, 55, 107);
}

.list-btn {
   color: #fff;
   font-size: 1.2rem;
   background-color: rgb(88, 88, 136);
   box-shadow: 0 10px 5px rgba(17, 17, 17, 0.116);
}

.list-btn:hover {
   background-color: rgba(0, 0, 0, 0.637);
}

.list-btn:focus {
   background-color: rgba(0, 0, 0, 0.637);
}

.list-btn-selected {
   background-color: rgba(0, 0, 0, 0.637);
}

.settings-form {
   padding: 5px 10px;
   position: relative;
   height: 100%;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
}

.settings-form mat-label {
   color: lightblue;
}

.settings-form option {
   background-color: rgb(51, 50, 54);
}

.tab-section {
   min-height: 90%;
   border-bottom: 2px solid #fafafa;
   padding-bottom: 5px;
}

.tab-section::-webkit-scrollbar {
   background: rgba(51, 51, 51, 0.726);
   width: 5px;
}

.input-container {
   margin: 0 15px;
}

.full-width {
   width: 100%;
}

mat-radio-button {
   margin: 5px;
}

.control-actions {
   width: 120px;
   font-size: 1.3rem;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.action-btn-font {
   font-size: 1.3rem;
   margin: 10px 15px;
   min-width: fit-content;
}

mat-slide-toggle {
   color: lightblue;
}

.snackbar-control {
   font-size: 1.5rem;
   width: 75%;
   color: red;
}

@media (max-width: 800px) {
   .list-btn {
      font-size: 1rem;
   }
}

@media (max-width: 700px) {
   .chart-control-container {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
   }

   .settings-form {
      flex-grow: 1;
   }

   .nav-list-container {
      display: flex;
      border-bottom: 2px solid #fff;
   }
}
