mat-label {
   color: lightblue;
}

.chip-value-input-field {
   width: 100vw;
}

.key-chip-list {
   width: 100%;
}

.btn-controls button {
   margin: 0 10px 0 0;
}

.chip {
   font-size: 1.1rem;
   border-radius: 0;
}
