.dialog-container {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 100;
   background-color: rgba(0, 0, 0, 0.6);
}

.position-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
}

.dialog {
   width: 400px;
   background-color: azure;
}

.actions {
   display: flex;
   justify-content: flex-end;
}
