<div class="container">
   <div class="dataset-tabs">
      <span
         class="dataset-tab-item"
         *ngFor="let dataset of datasets; let idx = index"
         [ngClass]="currentTabIndex === idx ? 'dataset-tab-item-active' : ''"
         (click)="changeDatasetTab(idx)"
         >{{ dataset.datasetName }}
         <button mat-icon-button (click)="deleteDatasetTab(idx); $event.stopPropagation()">
            <mat-icon style="font-size: 1rem">close</mat-icon>
         </button>
      </span>
      <button mat-icon-button color="primary" (click)="createNewDatasetTab()">
         <mat-icon style="font-size: 1.75rem; margin-bottom: 5px">add</mat-icon>
      </button>
      <div class="tab-color-fill"></div>
   </div>
   <div class="chart-control-container" *ngIf="datasets.length">
      <div class="tab-nav">
         <mat-nav-list class="nav-list-container">
            <mat-list-item
               class="list-btn"
               [ngClass]="selectedTab === 'basic' ? 'list-btn-selected' : ''"
               (click)="changeTab('basic')"
            >
               Basic Settings
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item
               class="list-btn"
               [ngClass]="selectedTab === 'initialize' ? 'list-btn-selected' : ''"
               (click)="changeTab('initialize')"
            >
               Initialize Chart
            </mat-list-item>
         </mat-nav-list>
      </div>
      <form class="settings-form" (ngSubmit)="createChart($event)" *ngIf="datasets[currentTabIndex]">
         <section *ngIf="selectedTab === 'basic'" class="tab-section input-container">
            <mat-form-field appearance="fill" class="full-width">
               <mat-label>Chart Title</mat-label>
               <input matInput type="text" name="chartTitle" [(ngModel)]="globalOptions.chartTitle" />
            </mat-form-field>
            <br />
            <mat-form-field appearance="fill" class="full-width">
               <mat-label>Background Color</mat-label>
               <input matInput type="text" name="backgroundColor" [(ngModel)]="globalOptions.backgroundColor" />
            </mat-form-field>
            <br />
            <mat-slide-toggle labelPosition="before" [checked]="globalOptions.enableZoom" (change)="setZoom($event)"
               >Enable Zoom</mat-slide-toggle
            >
            <br />
            <div class="global-axis-settings">
               <mat-form-field appearance="fill" class="full-width">
                  <mat-label>X-Axis Name</mat-label>
                  <input matInput type="text" name="xAxisName" [(ngModel)]="globalOptions.xName" />
               </mat-form-field>
               <mat-radio-group [value]="globalOptions.xAxisType" (change)="globalOptions.xAxisType = $event.value">
                  <mat-radio-button value="category">Category</mat-radio-button>
                  <mat-radio-button value="value">Value</mat-radio-button>
               </mat-radio-group>
               <br />
               <br />
               <app-chip-input
                  *ngIf="globalOptions.xAxisType === 'category'"
                  [includeBtn]="true"
                  [chipList]="globalOptions.xCategories"
                  (chipEvent)="globalOptions.xCategories.push($event)"
                  (chipRemoveEvent)="globalOptions.xCategories.splice(+$event, 1)"
                  (chipModifyEvent)="globalOptions.xCategories[$event.index] = $event.value"
                  (chipClearFieldEvent)="globalOptions.xCategories = []"
                  label="X-Axis-Categories"
               ></app-chip-input>
            </div>
            <br />
            <div class="global-axis-settings">
               <mat-form-field appearance="fill" class="full-width">
                  <mat-label>Y-Axis Name</mat-label>
                  <input matInput type="text" name="yAxisName" [(ngModel)]="globalOptions.yName" />
               </mat-form-field>
               <mat-radio-group [value]="globalOptions.yAxisType" (change)="globalOptions.yAxisType = $event.value">
                  <mat-radio-button value="category">Category</mat-radio-button>
                  <mat-radio-button value="value">Value</mat-radio-button>
               </mat-radio-group>
               <br />
               <br />
               <app-chip-input
                  *ngIf="globalOptions.yAxisType === 'category'"
                  [includeBtn]="true"
                  [chipList]="globalOptions.yCategories"
                  (chipEvent)="globalOptions.yCategories.push($event)"
                  (chipRemoveEvent)="globalOptions.yCategories.splice(+$event, 1)"
                  (chipModifyEvent)="globalOptions.yCategories[$event.index] = $event.value"
                  (chipClearFieldEvent)="globalOptions.yCategories = []"
                  label="Y-Axis-Categories"
               ></app-chip-input>
            </div>
         </section>
         <section *ngIf="selectedTab === 'initialize'" class="tab-section">
            <div class="input-container">
               <mat-form-field class="full-width">
                  <mat-label>Name of the Dataset</mat-label>
                  <input
                     name="seriesName"
                     matInput
                     autocomplete="off"
                     type="text"
                     [(ngModel)]="datasets[currentTabIndex].chartOptions.seriesName"
                  />
               </mat-form-field>
            </div>
            <mat-form-field appearance="fill" class="full-width">
               <mat-label>Chart Type</mat-label>
               <select name="graphType" id="graphType" matNativeControl [(ngModel)]="datasets[currentTabIndex].chartOptions.type">
                  <option *ngFor="let type of allowedGraphTypes">
                     {{ type }}
                  </option>
               </select>
            </mat-form-field>
            <br />
            <div class="input-container">
               <app-chip-input
                  [includeBtn]="true"
                  [chipList]="datasets[currentTabIndex].chartOptions.xAxisKeys"
                  (chipEvent)="handleInputModification($event, 'x')"
                  (chipRemoveEvent)="removeInput($event, 'x')"
                  (chipModifyEvent)="modifyValue($event, 'x')"
                  (chipClearFieldEvent)="datasets[currentTabIndex].chartOptions.xAxisKeys = []"
                  [label]="globalOptions.xAxisType === 'value' ? 'X-Axis Values' : 'Value Names'"
               >
               </app-chip-input>
            </div>
            <br />
            <div class="input-container">
               <app-chip-input
                  [includeBtn]="true"
                  [chipList]="datasets[currentTabIndex].chartOptions.yAxisKeys"
                  (chipEvent)="handleInputModification($event, 'y')"
                  (chipRemoveEvent)="removeInput($event, 'y')"
                  (chipModifyEvent)="modifyValue($event, 'y')"
                  (chipClearFieldEvent)="datasets[currentTabIndex].chartOptions.yAxisKeys = []"
                  [label]="globalOptions.yAxisType === 'value' ? 'Y-Axis Values' : 'Value Names'"
               ></app-chip-input>
            </div>
            <br />
         </section>
         <div class="control-actions">
            <button
               type="button"
               class="action-btn-font"
               mat-raised-button
               color="primary"
               *ngIf="selectedTab === 'initialize'"
               (click)="swapValues()"
            >
               Swap values
            </button>
            <button type="submit" class="action-btn-font" mat-raised-button color="primary">Generate</button>
         </div>
      </form>
   </div>
</div>
